@charset "UTF-8";

/* 基本 */
body {
	font-family: sans-serif;
	color: #222;
}

.container {
	width: 84%;
	max-width: 1147px;
	margin: 0 auto;
}

body, h1, h2, h3, h4, h5, h6, p, ul, figure {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	opacity: 0.8;
}

img {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

.site img {
	width: auto;
	max-width: 100%;
}

svg {
	vertical-align: bottom;
}

.nav, 
.catch h1, 
.food h2, 
.detail p:first-of-type,
.info .subtitle {
	font-family: 'Avenir Next', 'Segoe UI', Helvetica, sans-serif;
}

.sr-only {
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}


/* ヘッダー */
.header .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 134px;
	text-align: center;
}

.nav ul {
	display: flex;
	justify-content: center;
	list-style: none;
	margin-top: 18px;
	color: #477294;
}

.nav li:not(:last-child) {
	margin-right: 55px;
}

@media (min-width: 768px) {
	.nav ul {
		margin-top: 0;
	}
	.header .container {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 100px;
	}
}


/* ヒーロー */
.hero {
	position: relative;
}

.hero figure {
	max-height: 100%;
	height: 450px;
}

.hero figure img {
	width: 100%;
	height: 450px;
	object-fit: cover;
}

.hero .catch {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto auto 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: #fff;
	text-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.hero .catch h1 {
	font-size: 20px;
	margin-bottom: 10px;
}
.hero .catch p {
	font-size: 10px;
}

.hero .wave {
	position: absolute;
	right: 0;
	bottom: -10px;
	left: 0;
	margin: auto;
	width: 100%;
}

@media (min-width: 768px) {
	.hero figure {
		height: 750px;
	}

	.hero figure img {
		height: 750px;
	}
	.hero .catch h1 {
		font-size: 40px;
		margin-bottom: 30px;
	}
	.hero .catch p {
		font-size: 16px;
	}
}

@media (min-width: 900px) {
	.hero .catch h1 {
		font-size: 56px;
		margin-bottom: 30px;
	}
	.hero .catch p {
		font-size: 24px;
	}
}


/* フード */
.food {
	padding: 30px 0;
	text-align: center;
}

.food h2 {
	color: #477294;
	margin-bottom: 20px;
	font-size: 36px;
}
.food h2 span {
	font-weight: normal;
}

/* フード詳細 */
.detail {
	margin-bottom: 50px;
}

.detail figure {
	max-width: 320px;
	margin: auto;
}

.detail h3 {
	margin-bottom: 16px;
	font-size: 30px;
}
.detail p:first-of-type {
	margin-bottom: 30px;
	color: #477294;
	font-size: 19px;
}
.detail p:last-of-type {
	font-size: 14px;
	line-height: 1.8;
}

@media (min-width: 768px) {
	.details {
		display: flex;
		justify-content: space-between;
	}
	.detail {
		width: 31.5%
	}
	.detail p:last-of-type {
		font-size: 11px;
	}
}

@media (min-width: 950px) {
	.detail p:last-of-type {
		font-size: 14px;
	}
}


/* 見出しの装飾 */
.bar {
	padding-bottom: 16px;
	position: relative;
}
.bar::before,
.bar::after {
	display: block;
	content: '';
	background-color: #0facde;
	width: 80%;
	height: 1px;
	position: absolute;
}
.bar::before {
	left: 0;
	bottom: 6px;
}
.bar::after {
	right: 0;
	bottom: 0;
}

.content .bar::before {
	width: 200px;
}

@media (min-width: 768px) {
	.bar {
		max-width: 375px;
		margin-left: auto;
		margin-right: auto;
	}

	.bar::before,
	.bar::after {
		width: 73%;
	}

	.content .bar {
		max-width: none;
	}
	.content .bar::before {
		width: 312px;
	}
	.content .bar::after {
		width: 81%;
	}
}


/* フォト */
.photo figure {
	max-height: 100%;
	height: 170px;
}

.photo img {
	width: 100%;
	height: 170px;
	object-fit: cover;
}

@media (min-width: 768px) {
	.photo figure {
		height: 367px;
	}

	.photo img {
		height: 367px;
	}
}


/* フッター */
.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	color: #fff;
    background-image: none;
    background-size: cover;
    background-color: #477294;
}

.footer .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer .site {
	text-align: center;
}
.footer .site p {
	margin-top: 20px;
	margin-bottom: 50px;
	font-size: 14px;
}

@media (min-width: 768px) {
	.footer {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.footer .container {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.footer .site {
		text-align: left;
	}
	.footer .site p {
		margin-top: 10px;
		margin-bottom: 0;
		font-size: 18px;
	}
}

/* フッター 背景画像 */
.footer {
	position: relative;
}

.footer .container {
	position: relative;
	z-index: 10;
}

.footer .back {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/* SNSメニュー */
.sns {
	display: flex;
	list-style: none;
	font-size: 40px;
}

.sns li:not(:last-child) {
	margin-right: 30px;
}


/* コンテンツ */
.content {
	padding-top: 50px;
	padding-bottom: 40px;
}

.content .container {
	max-width: 785px;
}

.content h1 {
	margin-bottom: 25px;
	font-size: 24px;
}

.postbody > * {
	margin-bottom: 2em;
}
.postbody h2 {
	margin-top: 2.5em;
	margin-bottom: 1.5em;
	font-size: 20px;
}
.postbody h2 [class*="fa-"] {
	margin-right: 15px;
	color: #477294;
}

.postbody p {
	line-height: 1.8;
}
.postbody ul {
	padding-left: 30px;
}
.postbody li:not(:last-child) {
	margin-bottom: 1em;
}

@media (min-width: 768px) {
	.content {
		padding-top: 70px;
		padding-bottom: 60px;
	}

	.content h1 {
		margin-bottom: 40px;
		font-size: 38px;
	}

	.postbody h2 {
		font-size: 28px;
	}
}

/* コンテンツの情報 */
.info {
	margin-bottom: 43px;
	color: #477294;
	font-size: 14px;
}
.info [class*="fa-"] {
	margin-right: 10px;
}


/*
#################################
ブログ
#################################
*/

/* ブログ記事の情報 */
.info time {
	margin-bottom: 5px;
}

.info .cat ul {
	list-style: none;
	display: inline-flex;
}
.info .cat li:not(:last-child)::after {
	content: '・';
	margin: 0 5px;
}

@media (min-width: 768px) {
	.info {
		display: flex;
		justify-content: space-between;
		font-size: 16px;
	}
}


/* 前後の記事へのリンク */
.postlink {
	margin-top: 4em;
	list-style: none;
	color: #477294;
	font-size: 14px;
	display: flex;
}

.postlink li {
	width: 48%;
	display: flex;
	align-items: center;
}

.postlink a {
	display: flex;
	align-items: center;
}

.postlink .next {
	margin-left: auto;
	justify-content: flex-end;
}

.postlink .prev [class*="fa-"] {
	margin-right: 10px;
}
.postlink .next [class*="fa-"] {
	margin-left: 10px;
}


/* ブログ記事一覧ページ */
.bloglist .container {
	max-width: 1000px;
}

.bloglist .posts {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* ブログ記事一覧 */
.posts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 50px;
}

.posts article {
	width: 48%;
	margin-bottom: 20px;
}

.posts img {
	height: 150px;
	object-fit: cover;
}
.posts h3 {
	margin-top: 10px;
	font-size: 14px;
}

@media (min-width: 768px) {
	.posts h3 {
		font-size: 16px;
	}

	.posts img {
		height: 200px;
	}
}


/* ページネーション */
.pagenation {
	margin-top: 1.8em;
	list-style: none;
	display: flex;
}

.pagenation .next {
	margin-left: auto;
}

.pagenation a {
	width: 7em;
	padding: 0.5em 1em;
	border-radius: 1em;
	background-color: #477294;
	color: #fff;
	font-size: 14px;
	display: flex;
	align-items: center;
}
.pagenation .next a {
	justify-content: flex-end;
}

.pagenation .prev [class*="fa-"] {
	margin-right: 10px;
}
.pagenation .next [class*="fa-"] {
	margin-left: 10px;
}
